/* AddTraining.css */
.add-training-box {
  width: 580px;
  margin-left: 100px;
  background: #000;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: auto;
  max-height: 750px;
  color: white;
  margin-left: 330px;
  margin-top: 80px;
}

.add-training-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.add-training-form {
  display: flex;
  flex-direction: column;
}

.add-training-field {
  margin-bottom: 25px;
  margin-right: 60px;
}

.add-training-input-field {
  width: 100%;
  font-size: 16px;
  padding: 10px;
  margin-right: 60px;
  justify-items: center;
  align-items:center;
}

.add-training-button {
  background-color: #555;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 260px;
}

.add-training-button:hover {
  background: #444;
}
