.change-password-box {
    width: 650px;
    margin-left: 300px;
    background: #000; 
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: auto;
    max-height: 600px; 
    margin-top: 80px;
  }
  
  .change-password-heading {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .change-password-field {
    margin-bottom: 10px;
  }
  
  .changepassword-input {
    border-radius: 5px;
    margin-right: 20px;
    border: 1px solid #ccc;
  }
  
  .changepassword-button {
    background-color: rgb(120, 120, 125);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .changepassword-button:hover {
    background: #444;
  }