/* ChangePassword.css */
.change-password-box {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(202, 209, 203);
}

.change-password-heading {
  font-weight: bold;
  margin-bottom: 16px;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.change-password-field {
  width: 100%;
  margin-bottom: 16px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}


.success-box {
  background-color: green;
  color: white;
  padding: 10px;
  text-align: center;
  display: none;
}

.failure-box {
  background-color: red;
  color: white;
  padding: 10px;
  text-align: center;
  display: none;
}

.show {
  display: block;
}
