/* TrainerRegistration.css */

.center-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200vh;
}

.registration-container {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 80%; /* Increase the width to your desired value */
  max-width: 800px; /* Set a maximum width to prevent it from getting too wide */
  margin: 0 auto; /* Center the box horizontally */
}

.trainerRegistration-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.register-form-group {
  margin-bottom: 15px;
}

.register-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.register-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.reset-button {
  background-color: #ccc;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 20px;
}

.register-response {
  margin-top: 20px;
  padding: 15px;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  border-radius: 4px;
}
