.trainer-trainings-form {
  padding: 20px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.trainer-trainings-heading {
  color: black;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 20px;
}

.trainings-list-heading {
  color: black;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.trainer-trainings-search-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0;
}

.trainer-trainings-search-field {
  flex: 1;
  margin-right: 10px;
}

.trainer-trainings-log-list {
  margin-top: 20px;
}

.trainer-trainings-log-table {
  width: 100%;
  border-collapse: collapse;
}

.trainer-trainings-log-table th,
.trainer-trainings-log-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.trainer-trainings-log-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.trainer-trainings-log-table tr:hover {
  background-color: #f5f5f5;
}


table {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

table thead th {
  /* border: 1px solid #959494; */
  text-align: left;
  padding: 8px;
  font-weight: bold; 
  background-color: #c5c5c5;
}

table tbody tr {
  border: 1px solid #ddd;
}

table tbody td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}
