.trainee-trainings-form {
  padding: 20px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.trainee-trainings-heading {
  color: black;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-bottom: 30px;
}

.label{
  color: rgb(28, 28, 28);
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

.trainee-trainings-list-heading {
  color: black;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

.table-heading {
  color: black;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.trainee-trainings-search-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0;
}

.trainee-trainings-search-field {
  flex: 1;
  margin-right: 10px;
}

.trainee-trainings-log-list {
  margin-top: 20px;
}

/* TraineeTrainings.css */
.table-container {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

.table-heading {
  font-weight: bold;
  background-color: #c9c7c7;
  color: black;
  font-family: 'Times New Roman', Times, serif;
}

.table-row {
  border: 1px solid #ccc;
}

table thead th {
  text-align: left;
  padding: 8px;
  font-weight: bold; 
  background-color: #c5c2c2;
  
}

.table-cell {
  padding: 8px;
  text-align: left;
}
