/* UpdateTrainerProfile.css */
.update-trainer-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 300px; 
  background-color: #ffffff;
}

.update-trainer-heading {
  margin-bottom: 20px;
  color: #000;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.update-trainer-form {
  display: flex;
  flex-direction: column;
}

.update-trainer-field {
  margin-bottom: 20px;
  color: black;
  margin-right: 30px;
  font-weight: bold;
}

.update-trainer-input {
  width: 100%; 
}

.update-trainer-radio {
  display: flex;
  align-items: center;
  gap: 10px;
}

.action-button {
  width: 100%; 
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.action-button:hover {
  background-color: #0056b3;
}


.success-box {
  background-color: green;
  color: white;
  padding: 10px;
  text-align: center;
  display: none;
}

.failure-box {
  background-color: red;
  color: white;
  padding: 10px;
  text-align: center;
  display: none;
}

.show {
  display: block;
}
